#footer_main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229, 231, 229);
    border-top: 2px outset grey;
}

#footer_text_1 {
    margin-left: 10px;

}

#footer_text_2 {
    margin-right: 10px;
    color: black;
}

#footer_main_div a {
    text-decoration: none;
}