.main_div {
    background: rgb(207, 207, 205);
}


#recettes_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
}

#recettes_main h1 {
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-bottom: 30px;
}

.recettes_separator {
    height: 40px;
}

#recettes_main a {
    text-decoration: none;
    color: black;
}

#recettes_create {
    text-align: right;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.recettes_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 3px solid rgb(63, 62, 62);
    border-radius: 7px;
    box-shadow: 1px 1px 1px grey;
    background-color: white;
    color: #181818;
}

.recettes_nom {
    border-right: 3px solid rgb(63, 62, 62);
    box-shadow: 1px 1px 1px grey;
    min-height: 100px;
    width: 300px;
    text-align: center;
    padding: 5px;
    display: flex;
}

.recettes_note_auteur {
    border-left: 3px solid rgb(63, 62, 62);
    box-shadow: 1px 1px 1px grey;
    width: 150px;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recettes_note_auteur strong {
    font-weight: bold;
}

.recettes_desc {
    box-shadow: 1px 1px 1px grey;
    flex: 1;
    text-indent: 10px;
    padding: 5px;
}

.recettes_nom p, .recettes_note p {
    margin: auto;
}

@media all and (max-width: 1100px) {
    .recettes_nom {
        width: 200px;
        overflow-y: auto;
    }
}

@media all and (max-width: 800px) {

    .recettes_container {
        flex-direction: column;
    }

    .recettes_nom {
        width: auto;
        height: auto ;
        min-height: 50px;
        border-right: none;
        border-bottom: 1px solid rgb(63, 62, 62);
    }

    .recettes_note_auteur {
        flex-direction: row;
        width: auto;
        height: auto;
        justify-content: space-between;
        border-left: none;
        border-top: 1px solid rgb(63, 62, 62)
    }

    #recettes_main {
        margin-right: 0;
        margin-left: 0;
    }

    .recettes_note_auteur p
    {
        margin-left:15px;
    }

    .recettes_note_auteur strong
    {
        text-align: right;
        margin-top: auto;
        margin-right: 15px;
        margin-bottom:auto;
    }

    #recettes_create{
        text-align: center;
    }

    
}