.main_div {
    background: rgb(207, 207, 205);
}


#create_recette_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px 70px 30px 70px;
    padding-bottom: 30px;
    border-radius: 10px;
    background: white;
}

#create_recette_main_container {
    margin: auto;
    padding: 5px 10px 7px 10px;
    border: 1px dashed black;
    border-radius: 7px;
}

#create_recette_main_container h2 {
    border-bottom: 1px dashed black;
    text-align: center;
    font-weight: bold;
}

#create_recette_final_buttom {
    border-top: 1px dashed black;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-top: 15px;
    text-align: center;
}

#create_recette_main h1 {
    border-bottom: 1px solid grey;
    font-weight: bold;
    text-align: center;
}

#create_recette_information h2 {
    font-weight: bold;
    text-align: center;
}

/*Informations supplémentaires*/

#create_recette_information_supp {
    border-top: 1px dashed black;
    margin-top: 15px;
}

#recette_create_finish_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#recette_create_difficulte {
    margin-left: 2px;
}

#create_recette_information em {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

@media all and (max-width: 800px){

    #create_recette_main{
        padding-right: 10px;
        padding-left: 10px;
        width: 500px;
    }

    #create_recette_main_container{
        width: 450px;
    }

    #create_recette_desc{
        width: 375px
    }
}